*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}


body {
text-align: center;
background: url("img/aclaracion.webp") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: rgb(25, 25, 65);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: red;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: berlin sans fb;
    height: 60vh !important;
    background-attachment: fixed;
    background: url(img/estrellas.webp) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: red;
    text-shadow:
      -2px -1px 0 #000,
       2px -1px 0 #000,
      -2px 1px 0 #000,
       2px 1px 0 #000;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 40px;
    border: 2px solid red;
    color: red;
    text-decoration: none;
    background: aqua;
    border-radius: 60px;
    transition: 0.3s;
    font-size: 18px;
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

.btn-box {
    display: inline-block;
    margin: 10px auto;
    padding: 12px 30px;
    background-color: aqua;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid red;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-box:hover {
    background-color: transparent;
    color: red;
    transform: scale(1.1);
}


.content {
min-height: 80vh;
padding: 40px 0;            
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.sau {
padding: 30px;
background-attachment: fixed;
background: url(img/fondo-cosmos.jpeg) no-repeat;
background-size: cover;

}

.box-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
text-align: center;

}

.box-container .box {
height: 11rem;
width: 17rem;
background: none;
    box-shadow: none;
    border: none;
text-align: center;
border-radius: 1re;
box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
margin: 2rem;

}

.box-container .box i {
height: 3rem;
width: 3rem;
line-height: 3rem;
text-align: center;
border-radius: 50%;
color: green;
background: blue;
font-size: 2rem;
margin: 1rem 0;

}

.box-container .box h3{
font-size: 20px;
color: yellow;

}

.box-container .box p {
    padding: 10px 15px;
font-size: 20px;

}

.about {
    background: #101010;
    background: url('img/secciondos.webp') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.price {
background: url(img/explorando.webp) no-repeat center;
background-attachment: fixed;
background-size: cover;
text-align: center;

}

.contact {
padding-top: 20px;
background: #171717;
padding-bottom: 0;
background-attachment: fixed;
background-image: url(img/area.webp);
background-size: cover;

}

.disclaimer {
    background: #0a0a0a;
    color: #ccc; 
    padding: 30px 50px;
    font-size: 16px;
    text-align: center;
    border-top: 2px solid #444;
}

.disclaimer .title {
    color: #00ffff;
    margin-bottom: 15px;
    font-size: 28px;
}

.sabermas {

    background-attachment: fixed;
background: url(img/aclaracion.webp) no-repeat;
background-size: cover;

}

.nosotros {

    background-attachment: fixed;
background: url(img/aclaracion.webp) no-repeat;
background-size: cover;

}
.campo {
color: #00ffff;

}
.container-form {

   background: url(img/aclaracion.webp) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px;
    border-radius: 20px;
    margin: 50px auto;
    width: 100%;
    max-width: 800px;
    min-height: 400px;
    color: white;

}

@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
     height: 120vh;

    }

    .navbar {
        display: none;
    }

}